*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 100px;
  width: fit-content;
  height: 50vh;
}

.grid{
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto;
}

input{
  width: 150px;
  height: 25px;
  margin: 3px;
  border: 1px solid black;
  cursor: pointer;
  /* outline: none; */
  padding: 5px 10px ;
}


button{
  cursor: pointer;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  width: 100px;
  height: 30px;
}